# PLANET, HPOE-2400G, 802.3at PoE+ Managed Injector Hub db template

# deviceModel: string
record(stringin,"$(PRE,undefined):GetDeviceModel")
{
    field( DTYP, "SnmpV2c" )
    field( INP,  "@$(HOST,undefined) public SNMPv2-MIB::sysDescr.0" )
    field( SCAN, "Passive" )
    field( PINI, "YES" )
}

# deviceName: string
record(stringin,"$(PRE,undefined):GetDeviceName")
{
    field( DTYP, "SnmpV2c" )
    field( INP,  "@$(HOST,undefined) public SNMPv2-MIB::sysName.0" )
    field( SCAN, "Passive" )
    field( PINI, "YES" )
}
