# CONFIG file for Leviton IOC
# Supports several varieties of SNMP remote controlled power outlets
# including:
#	Leviton, 8 outlets
#	iBootBarPdu, 8 and 16 outlets
#	SentryPdu, 2 and 16 outlets
RELEASE=/reg/g/pcds/epics/ioc/common/Leviton/R1.30.0

ENGINEER    = "MyName (userid)"
LOCATION    = "XYZ R00"
IOC_PV      = XYZ:IOC:PDU:01

# Power Distribution Unit (PDU) macros:
#	NAME	PV Prefix for PDU
#	HOST	network name for PDU
#	TYPE	iBootBar, Leviton, or Sentry
#	N_CHAN	How many outlets does this PDU have
PDU( NAME=XYZ:PDU:01, TYPE=iBootBar, N_CHAN=16 )

# Optional global config fields
# EPICS_CA_MAX_ARRAY_BYTES = ?, default is 20000000
# SNMP_DEV_DEBUG = ?, default is 0
# SNMP_DRV_DEBUG = ?, default is 0
# SNMP_MAX_PER_QUERY = ?, default is 30
