# CONFIG file for ICT IOC
# Supports SNMP remote controlled power outlets
RELEASE=/reg/g/pcds/epics/ioc/common/ict/RX.X.X
TARGET_ARCH = rhel7-x86_64

ENGINEER    = "MyName (userid)"
LOCATION    = "XYZ R00"
IOC_PV      = XYZ:IOC:PDU:01
HUTCH       = tst

# Power Distribution Unit (PDU) macros:
#	NAME	PV Prefix for PDU
#	HOST	network name for PDU
# 	BUS_A 	24 or 48 depending on bus voltage
# 	BUS_B 	24 or 48 depending on bus voltage
PDU( NAME=XYZ:PDU:01, HOST=host-name-01, BUS_A=24, BUS_B=48 )

# Optional global config fields
# EPICS_CA_MAX_ARRAY_BYTES = ?, default is 20000000
# SNMP_DEV_DEBUG = ?, default is 0
# SNMP_DRV_DEBUG = ?, default is 0
# SNMP_MAX_PER_QUERY = ?, default is 30
